@import 'utils';

.post-info {
  background: $oc-indigo-7;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;

  .info {
    display: flex;
    flex-flow: row wrap;
    width: 1024px;
    padding: 1rem;
    color: white;
    
    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 92%;
      font-weight: 600;
      font-size: 1.5rem;
      margin: 0;
      word-wrap: break-word; // 내용이 너무 길면 다음 줄에 작성
      user-select: none;
    }
    .post-editor{
      box-sizing: border-box;
      width: 8%;

      .button {
        display: block;
        color: white;
        width: 100%;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0.25rem 0.5rem;
        text-align: center;
        font-weight: 600;
        height: 40%;
        cursor: pointer;
        user-select: none;

        &:hover{
          background: white;
          color: $oc-blue-6;
        }

        &:active{
          transform: translateY(2px);
        }
        & + .button {
          margin-top: 10px;
        }
      }
    }
    .names {
      width: 100%;
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      user-select: none;
      div { 
        color: white;
        cursor: pointer;
        padding-bottom: 0.15rem;
        padding-right: 0.1rem;
      }
    }
    .date {
      width: 100%;
      user-select: none;
      text-align: right;
      opacity: 0.75;
      font-style: italic;
      font-size: 1.25rem;
      color: white;
    }
  }

  @include media("<desktop") {
    .info {
      h1 { 
        font-size: 2rem;
      }
      .tags, .date {
        font-size: 1rem;
      }
      width: 768px;
    }
  }
  @include media("<=tablet") {
    height: auto;
    .post-info{
      padding-bottom: 2rem;
      .info {
        padding-top: 0;
        margin: 0;
        .tags {
          margin-top: 0.25rem;
        }
        .tags, .date {
          font-size: 0.85rem;
        }
      }
    }
  }
}